.star {
  position: relative;
  
  display: inline-block;
  width: 0;
  height: 0;
  
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  
  border-right:  50px solid rgba(0, 0, 0, 0);
  border-bottom: 100px  solid rgb(255, 255, 0);
  border-left:   50px solid rgba(0, 0, 0, 0);

  /* Controlls the size of the stars. */
  
  &:before, &:after {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: 30px;
    left: -50px;
  
    border-right:  50px solid rgba(0, 0, 0, 0);
  border-bottom: 100px  solid rgb(255, 255, 0);
  border-left:   50px solid rgba(0, 0, 0, 0);
  
    transform: rotate(-180deg);
  }
}